<html>
<head>
    <title> YARMA </title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div>
    <h1 align="center"> Results For: {{movieName}} </h1>
    <hr>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Vote Average</th>
        </tr>
        {{#each movieList}}
            <tr>
                <td><a href='/movies/{{id}}'>{{title}}</a></td>
                <td>{{releaseDate}}</td>
                <td>{{voteAverage}}</td>
            </tr>
        {{/each}}
    </table>
</div>
</body>
</html>